<!DOCTYPE html>
<html>
  <head>
    <style>
      body{background: skyblue; font-family: verdana; color: #fff; padding: 20pc;}
      h1{font-size: 48px; letter-spacing: 2px; text-align: center;}
      p{font-size: 16px; text-align: center;}
    </style>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>contact us</h1>
    <p>sdfsdfsdfsdf</p>
  </body>
</html>
